* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

.body-container{
    display: flex;
    flex-direction: column;
}

/*HEADER*/

header {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    margin: 8px;
    align-items: center;
}

.header-box {
    padding-left: 8px;
}

.header-box a {
    padding: 4px;
    font-size: 0.9em;
    text-decoration: none;

}

.header-img {
    border-radius: 50%;
    width: 40px;
    padding: 4px;
}

/*MAIN*/

main{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 272px;
}

/*FOOTER*/

footer {
    display: flex;
    flex-direction: column;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.country{
    font-size: 1.6em;
}

.footer-box a {
    text-decoration: none;
    font-size: 1.6em;
}