* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

/*HEADER*/

header {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    margin: 8px;
    align-items: center;
}

.header-box {
    padding-left: 8px;
}

.header-box a {
    padding: 4px;
    font-size: 0.9em;
    
}

.header-img {
    border-radius: 50%;
    width: 40px;
    padding: 4px;
}

/*
.main-google-apps {
    display: inline-block;
}

.main-google-apps li {
    display: inherit;
}

.menu-and-profile {
    display: inline-block;
}

.menu-and-profile li {
    display: inherit;
}

*/